body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
header, main, footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}
#problem .expression {
  font-size: 48px;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 40px;
}

#answers ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: space-around;
}
#answers li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #eeeeee;
}
footer {
  margin-top: 50px;
  font-size: 12px;
}
button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
}
.hidden {
  display:none;
}

@media only screen and (max-width: 600px) {
  body {
    width: 95vw;
    max-height: 95vw;
  }

  header {
    width: 90vw
  }

  header h1 {
    font-size: 3em;
    width: 90vw;
  }
  header p {
    font-size: 1em;
    width: 80vw;
    margin: auto;
    padding-bottom: 5px;
  }
  main {
    width: 90vw;
  }
  footer {
    width: 95vw;
  }
#answers ul {
  width: 95vw;;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  grid-template-areas: "one two" "three four";
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}

}